<footer class="text-muted">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="container">
    <div class="d-flex flex-column flex-md-row justify-content-between">
      <p>{{- site.description | escape -}}</p>
      <div>
        <span id="menu-install" class="d-none">
          <a id="btn-install" class="text-secondary muted-link" href="#">Install</a>
          <span>&middot;</span>
        </span>
        <a href="{{ "/feed.xml" | relative_url }}" class="text-secondary muted-link">Subscribe</a>        
      </div>
    </div>    
  </div>

  <script src="{{ "/assets/jquery-3.3.1.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/bootstrap.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/algoliasearch.min.js" | relative_url }}"></script>
  <script src="{{ "/assets/autocomplete.jquery.min.js" | relative_url }}"></script>

  <script>
      var client = algoliasearch('{{ site.algolia.application_id }}', '{{ site.algolia.api_key }}');
      var index = client.initIndex('{{ site.algolia.index_name }}');
      $('#search-input').autocomplete({ 
        hint: false,
        minLength: 3,              
        templates: {
          empty: '<div>Artikel tidak ditemukan</div>',
          footer: '<div class="branding text-center">Powered by <a href="https://www.algolia.com" class="text-muted muted-link">Algolia</a></div>'
        }
      }, [{
        source: $.fn.autocomplete.sources.hits(index, { hitsPerPage: 5}),
        displayKey: 'title',      
        templates: {
          suggestion: function(suggestion) {
            return '<div class="result-title">' + suggestion._highlightResult.title.value + '</div><div class="result-snippet">' + suggestion._snippetResult.content.value + '</div>';
          }
        },
        debounce: 500,
      }]).on('autocomplete:selected', function(event, suggestion, dataset) {
        window.location.href = suggestion.url;      
      });

      $('#search-input').focusin(function() {
        $('#navbarSupportedContent').attr('style', 'display: none !important').addClass('flex-grow-0').removeClass('show');
        $('#search-input-container').addClass('flex-grow-1');
      }).focusout(function() {
        $('#navbarSupportedContent').attr('style', '').removeClass('flex-grow-0');
        $('#search-input-container').removeClass('flex-grow-1');
      });

      // Register service worker
      if ('serviceWorker' in navigator) {
        window.addEventListener('load', function () {
          navigator.serviceWorker.register('/sw.js').then((registration) => {                      
            console.log('Service worker registered for the following scope: ', registration.scope);
            if (registration.active) {
              registration.active.addEventListener('statechange', (e) => {
                const swState = e.target.state;
                if (swState === 'redundant') {
                  $("#update-toast").addClass('d-none');
                  $("#updated-toast").removeClass('d-none');
                }
              });
            }
            registration.onupdatefound = () => {
              $('#updated-toast').addClass('d-none');
              $("#update-toast").removeClass('d-none');
            }
          }, function(err) {
            console.error('Fail to register service worker', err);
          });
        });

        let deferredPrompt;                
        window.addEventListener('beforeinstallprompt', (e) => {          
          $("#menu-install").removeClass('d-none');
          e.preventDefault();
          deferredPrompt = e;          
        });

        $("#btn-install").click((e) => {
          e.preventDefault();
          $("#menu-install").hide();
          deferredPrompt.prompt();
          deferredPrompt.userChoice.then((result) => {
            deferredPrompt = null;
          });
        });

      } 
  </script>

</footer> 