.aa-dropdown-menu {

  width: 100%;
  background-color: #fff;
  border: 1px solid #999;
  border-top: none;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;

  .aa-suggestion {
    cursor: pointer;
    padding: 5px 6px;
    border-bottom: 1px solid #ccc;

    .result-title {

    }

    .result-snippet {
      color: #666;
      font-size: small;
    }

    &.aa-cursor {
      background-color: #B2D7FF;
    }

    em {
      font-weight: bold;
      font-style: normal;
    }
  }

  .aa-empty {
    padding: 5px 6px;
  }

  .branding {
    color: #999;
    font-size: 10px;
  }
  
}

.algolia-autocomplete {
  width: 100%;
  .aa-hint {
    color: #999;
  }
}

#search-input-container {    
  transition: all 600ms cubic-bezier(.165, .84, .44, 1);
  right: auto;
}
