@import "syntax-highlighting";
@import "algolia-autocomplete";

body {
	color: #545454;
}

main {
	min-height: 70vh;
}
footer {
	margin-top: 4rem;
	padding: 4rem 0;
	background-color: #f7f7f7;
}

nav.navbar.menu {
	background: linear-gradient(to bottom, #222, 95%, #999);
	box-shadow: 0 6px 6px -6px #aaa;
	margin-bottom: 2rem;
}

.navbar-brand {

	a {
		color: rgba(255, 255, 255, 0.5);
		&.active {
			color: #fff;
		}
	}
}

.blog-post {
	margin-bottom: 4rem;
}

a {
	&:hover {
		text-decoration: none;
	}
}

pre {
	margin-bottom: 0;
	font-family: 'Ubuntu Mono', monospace;
	font-size: 100%;
}

code {
	font-family: 'Ubuntu Mono', monospace;
	font-size: 100%;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.muted-link {	
	&:hover {
		text-decoration: underline;
	}
}

.pinned-card {
	width: 250px;
}

.toast {
	border-radius: 0 !important;
}

table {
	td, th {
		border: 1px solid black;
		padding-left: 10px;
		padding-right: 10px;
	}
	margin-bottom: 1rem;
	margin-top: 1rem;
}

ul.profile {
	list-style-type: none;
	padding-left: 0;
	margin-top: 20px;
	li {
		margin-bottom: 10px;
		img {
			width: 32px;
			height: 32px;
			margin-right: 10px;
		}
		a {
			color: #555;
			text-decoration: none;
			border-bottom: 1px dotted #000;
		}

	}
}